/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Neutraface', sans-serif;
}

@font-face {
    font-family: "Neutraface";
    src: url("assets/stylings/fonts/NeutraText-BookAlt.otf") format("opentype");
}

//:root {
//    --orange: rgb(245, 130, 32);
//    --dark-grey: rgb(88, 89, 91);
//    --light-grey: rgb(177, 179, 182);
//
//    --player-left: blue;
//    --player-right: red;
//}
