/* You can add global styles to this file, and also import other style files */

.no-list-style {
    list-style: none;
}

.custom-btn {
    margin: 20px;
}

body {
    background: url("assets/images/background_PacMan.png") no-repeat fixed top;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}


button{
    background: none;
    border: none;
}
